.page.theme_light {
    --main-color: #353430;
    --background-color: #fff1f7;
    --text-underline: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --color-btn: #353430;
    --title-color: #ffc2e6;
    --background-image: url(../images/cover-image-light.png);
    --visible: hidden;
}

@media (prefers-color-scheme: light) {
    .page {
        --main-color: #353430;
        --background-color: #fff1f7;
        --text-underline: #fff1f7;
        --text-color: #353430;
        --accent-color: #ff8dcb;
        --color-btn: #353430;
        --title-color: #ffc2e6;
        --background-image: url(../images/cover-image-light.png);
        --visible: hidden;
    }
}
