:root {
    --main-color: #f1b2ce;
    --text-underline: #f1b2ce;
    --background-color: #000028;
    --text-color: #000028;
    --accent-color: #ff0070;
    --color-btn: #ff0070;
    --title-color: #db00ff;
    --font-fam: "IBM Plex mono", sans-serif;
    --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --background-image: url(../images/cover-image-dark.png);
    --text-shadow: 4px 4px 0 var(--accent-color);
    --font-weight: 700;
    --font-size-text: 18px;
    --header-gap: 20px;
    --padding-size: 10px;
    --padding-vertic: 40px;
    --main-gap: 50px;
    --visible: visible;
}
